{{ define "clusters" }}
<h2>Timeseries explorer:</h2></p>
<p><strong>Clusters:</strong> {{ . | len }}</p>
{{ range . }}
<hr />
<dl>
	<dt>Id</dt>
	<dd>{{ .Id }}</dd>
	<dt>Size</dt>
	<dd>{{ .Size }}</dd>
</dl>
{{ end }}
{{ end }}
