{{ define "strides" }}
<h2>Timeseries explorer:</h2>
<p><strong>Strides:</strong> {{ . | len }}</p>
{{ range . }}
<hr />
<dl>
	<dt>ID</dt>
	<dd>{{ .Id }}</dd>
	<dt>Started: </dt>
	<dd>{{ .StartTime }}</dd>
</dl>
{{ end }}
{{ end }}
