<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>Timeseries Explorer</title>
</head>
<body>
{{ define "rows" }}
<p><strong>Cluster has {{ . | len }} timeseries</strong></p>
{{ range . }}
<hr />
<dl>
	<dt>ID</dt><dd>{{ .TimeseriesID }} : {{ index .TimeseriesName.Data "__name__" }}</dd>
        <dd>
        {{ range $key, $value := .TimeseriesName.Data }}
           {{ printf "%s: %s, " $key $value }}
        {{ end }}
        </dd> 
        <dd><a href={{ .TimeseriesName.PrometheusGraphURL }}>Prometheus Graph URL</a></dd>
        {{ $url := printf "/exploreTimeseries?id=%d&stride=%s" .TimeseriesID .Filename }}
        <dd><a href={{ $url }}>Explore Timeseries {{ .TimeseriesID }}</a></dd>
       </dt>
</dl>
{{ end }}
{{ end }}
</body>
</html>
