<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>Timeseries Explorer</title>
</head>
<body>
{{ define "correlations" }}
{{ $ts := .Timeseries }}
{{ $mainTs := index $ts .Row }}
{{ $rowname := index $mainTs.Data "__name__" }}
<p><strong>Timeseries {{ .Row }} aka <a href={{ $mainTs.PrometheusGraphURL }}>{{ $rowname }}</a> has {{ .Correlated | len }} correlations</strong></p>
<div style="position: relative; overflow: scroll; left: 0px; top: 0px; border: solid 2px #555; width:800px; height:600px;">
<iframe src={{ $mainTs.PrometheusGraphURL }} title={{ $rowname }} scrolling="yes" style="height: 600px; border: 0px none; width: 790px;">{{ $rowname }}</iframe>
</div>
<p>
<div style="position: relative; overflow: scroll; left: 0px; top: 0px; border: solid 2px #555; width:800px; height:600px;">
<iframe src="http://localhost:5555/d-solo/edyyjfwabxlvkf/ts-example?orgId=1&from=1727267938925&to=1727271538925&panelId=1" width="450" height="200" frameborder="0"></iframe>
</div>
</p>
<hr />
   {{ range $key, $value := .Correlated }}
      {{ $thisTs := index $ts $key }}
    <p> <a href={{ $thisTs.PrometheusGraphURL }}>{{ index $thisTs.Data "__name__" }}</a>: {{ $value }}</p>
<div style="position: relative; overflow: scroll; left: 0px; top: 0px; border: solid 2px #555; width:800px; height:600px;">
    <iframe src={{ $thisTs.PrometheusGraphURL }} title={{ index $thisTs.Data "__name__" }} scrolling="yes" style="height: 600px; border: 0px none; width: 790px;">{{ index $thisTs.Data "__name__" }}</iframe>
</div>
   {{ end }}
{{ end }}
</body>
</html>
