blosc2            2.7.1
h5py              3.13.0
msgpack           1.1.0
ndindex           1.9.2
numexpr           2.10.2
numpy             2.2.4
packaging         24.2
pandas            2.2.3
pip               22.0.2
py-cpuinfo        9.0.0
python-dateutil   2.9.0.post0
pytz              2025.2
setuptools        59.6.0
six               1.17.0
tables            3.10.1
typing_extensions 4.13.0
tzdata            2025.2
